:root {
  --orange: #ff7f00;
  --dark-green: #0d4b26;
  --light-green: #00a85a;
  --yellow: #ffcb05;
  --title: 32px;
  --subtitle: 16px;
  --subtext: 18px;
  --details: 14px;
  --font-bold: 700;
  --font-regular: 400;
  --section-margin: 5rem 0;
  --title-margin: 0 0 0.618rem 0;
  --subtitle-margin: 0 0 0.618rem 0;
}

@import './breakpoints.scss';

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Regular.ttf'), local('Montserrat-Regular');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Medium.ttf'), local('Montserrat-Medium');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Bold.ttf'), local('Montserrat-Bold');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-ExtraBold.ttf'), local('Montserrat-Bold');
  font-weight: 900;
}

html {
  letter-spacing: -0.05em;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-size: 1rem;
  font-size: 16px;
}

html {
  position: relative;
}

html,
body {
  min-height: 100%;
}

#__nuxt,
#__layout {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    outline: none;
  }
}
a {
  color: var(--dark-green);
  font-size: var(--subtitle);
  letter-spacing: -0.5px;
}

.title-revenda {
  font-size: 32px;
  font-weight: var(--font-bold);
  color: var(--dark-green);
  margin: 0 0 0.518rem 0;
}

.container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-around;
  margin: 0rem 0 1rem 0;
  padding: 2rem 28rem 2rem 28rem;
  background-color: rgba(255, 127, 0, 0.04);
  overflow: hidden;
  @include screen(small) {
    grid-template-columns: 1fr 350px 1fr;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
  }
  @include screen(medium) {
    grid-template-columns: 1fr 400px 1fr;
    padding: 2rem 2rem 2rem 2rem;
    justify-content: space-evenly;
    justify-items: center;
    gap: 2rem;
  }

  @include screen(large) {
    grid-template-columns: 1fr 400px 1fr;
    padding: 2rem 3rem 2rem 3rem;
    justify-content: space-evenly;
    justify-items: center;
  }
  @include screen(infinity) {
    padding: 2rem 12rem 2rem 12rem;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(150vw, 0, 0);
  }
  100% {
    transform: translate3d(-150vw, 0, 0);
  }
}

.container div {
  animation: slide 10s linear infinite;
  @include screen(infinity) {
    animation: slide 20s linear infinite;
  }
}

.termo-line {
  display: grid;
  grid-gap: 4rem;
  grid-auto-flow: column;
  justify-content: space-evenly;
}

.container-termo {
  display: grid;
  grid-gap: 0.618rem;
}

.button-accepet {
  display: grid !important;
  grid-auto-flow: column !important;
  width: 24vw !important;
  background-color: #ff7f00 !important;
  font-size: var(--details) !important;
  letter-spacing: -0.5px !important;
  cursor: pointer !important;
  align-items: center !important;
  justify-content: center !important;
  font-family: Montserrat !important;
  padding: 0 1.218rem !important;
  height: 2rem !important;
  border-radius: 0.618rem !important;
  color: #fff !important;
  font-weight: 500 !important;
  margin: 0.618rem 0.618rem 0.118rem 0 !important;
  @media (max-width: 600px) {
    width: 94% !important;
    margin: 0.618rem 1rem -1rem 1rem !important;
  }
}

.button-decline {
  display: grid !important;
  grid-auto-flow: column !important;
  width: auto !important;
  background-color: #7f7f7f !important;
  font-size: var(--details) !important;
  letter-spacing: -0.5px !important;
  cursor: pointer !important;
  align-items: center !important;
  justify-content: center !important;
  font-family: Montserrat !important;
  padding: 0 1.218rem !important;
  height: 2rem !important;
  border-radius: 0.618rem !important;
  color: #fff !important;
  font-weight: 500 !important;
  margin: 0.618rem 0.618rem 0.618rem 0 !important;
  @media (max-width: 600px) {
    width: 94% !important;
    margin: 0.618rem 1rem 1rem 1rem !important;
  }
}

.button-wrapper {
  display: grid;
  padding: 1rem;
  @media (max-width: 600px) {
    display: contents;
    justify-items: center;
    grid-gap: 1rem;
    padding: 0;
  }
}

.contentConsent {
  margin: 0 1rem 0 1rem !important;
  @media (max-width: 600px) {
    flex: 0 !important;
  }
}

.containerConsent {
  display: grid;
  @media (max-width: 600px) {
    background: rgb(255, 255, 255);
    color: white;
    display: flex;
    gap: 1rem;

    position: fixed;
    align-items: normal !important;
    width: 100%;
    z-index: 999;
    border-color: rgb(244, 244, 244);
    box-shadow: rgb(172 171 171 / 30%) 0px -1px 10px 0px;

    flex-direction: column;
  }
}
