@import './breakpoints.scss';

.selection {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  margin: 1.818rem 0 1.818rem 0;
  @include screen(small) {
    grid-auto-flow: dense;
  }
}

.list {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  margin: 1.618rem 0 2rem 0;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  @include screen('small') {
    flex-flow: column;
    align-items: center;
  }
}
